{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'logo/icon.png' %}" type="image/png">
    <title>{% block title%}{% endblock title %}</title>
    <!-- <link rel="stylesheet" href="{% static 'main.css' %}"> -->
    {% tailwind_css %}
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    {% block head %}{% endblock head %}
</head>

<body class="min-h-screen flex flex-col bg-white dark:bg-gray-900">
    {% block navbar %}
    {% endblock navbar %}
    
    <main class="flex flex-grow">
        {% block content %}
        {% endblock content %}
    </main>
    
    {% block footer %}
    {% endblock footer %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>

</html>